
backend/vendor

uploads/*

cron_script.php
.env
.env.production

frontend/build/*
frontend/node_modules/*
frontend/docs/*
frontend/styleguide/*


miniblog-api/*
backend/build/*
scripts/passfile.txt
backend/config/.htaccess

backend/config/feature_ideas/*
