backend/build/*
backend/config/.htaccess
backend/config/feature_ideas/*
backend/vendor
backend/.env.production

uploads/*

cron_script.php

frontend/build/*
frontend/node_modules/*
frontend/docs/*
frontend/styleguide/*

scripts/passfile.txt
doc/reference files/*
backend/_logs/*
backend/error_log
feature_ideas/*
frontend/.env.developoment
frontend/.env.production

backend/.env
scripts/.env
