.well {
  display: flex;
  gap: 2rem;
}
.well-vertical {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.form-container {
  flex: 5;
  min-width: 400px;
}

.preview {
  flex: 1;
  min-width: 400px;
  /* border: 1px solid red; */
}

/* For mobile devices */
@media only screen and (max-width: 900px) {
  .well {
    flex-direction: column;
    gap: .5rem;
  }

  .form-container,
  .preview {
    width: 100%;
  }

}
