.search-form {
  overflow: visible;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.search-input {
  width: 65%;
  height: 2.4rem;
  margin-right: 0.5rem;
}

.button-group {
  display: flex;
  gap: 0.5rem;
}

.filter-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filter-select {
  width: 8rem;
}

.limit-input {
  width: 4rem;
}

.date-container {
  display: flex;
  gap: 1.5rem;
}



.date-field {
  display: flex;
  align-items: center;
}

.date-label {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.month-buttons {
  display: flex;
  gap: 0.25rem;
  justify-content: flex-start;
}

@media only screen and (max-width: 415px) {
  .search-container {
    margin-bottom: 0.25rem;
  }
  .filter-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.25rem;
  }
  .date-container {
    flex-direction: column;
    gap: 0;
  }
  .date-label {
    margin-top: 0.25rem;
    margin-right: 0.5rem;
  }
}
