<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="cache-control" content="no-cache,no-store, must-revalidate">
<meta http-equiv="vary"          content="*">
<META HTTP-EQUIV="PRAGMA"        CONTENT="NO-CACHE">
<META HTTP-EQUIV="EXPIRES"       CONTENT="-1">
<META NAME="ROBOTS" CONTENT="NONE">
<META NAME="GOOGLEBOT" CONTENT="NOARCHIVE">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <!-- Le styles -->
<link rel="shortcut icon" href="{{rooturl}}favicon.ico">
<link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">

<title>Smsblog{% if page_title is  defined %} - {{page_title}}{% endif %}</title>
