{% include '_header.twig' %}

<link href="//cdn.jsdelivr.net/npm/@fullcalendar/core@4.3.1/main.min.css" rel="stylesheet" 
    type="text/css">
<link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet" 
    type="text/css">

<style>
body {
  background-position: absolute;
  background-image: url('../_rsc/images/lpt-logo_sm-lite.png');
  background-repeat: no-repeat;
  background-position: 0 35px;

}
.navigator {margin-bottom: 15px}
/* ----------- big screens ----------- */
@media screen 
  and (min-device-width: 668px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .blogEntry {float:left; clear:both}
    .blogEntry img {float:left; padding-right:10px}
}

/* ----------- Phone screens ----------- */
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .blogEntry {float:left; clear:both}
    .blogEntry img {float:left; width: 100%; clear:both}
}
</style>
{% include '_banner.twig' %}
<div class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <!--img src="..." class="rounded mr-2" alt="..."-->
    <strong class="mr-auto">Entry</strong>
    <small></small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Hello, world! This is a toast message.
  </div>
</div>

<div id="app"></div>

{% include '_footer.twig' %}
<script>
    const BASE_URL = '{{baseurl}}';

    $(document).ready(function(){
            $('.toast').toast("dispose");
            console.log("toast displosed")
     /* 
        $('.toast-body').html("some other text");

  $('.toast').toast({delay: 3000});
  $('.toast').toast("show");
  */
});
</script>

{% if DEVELOPMENT %}
  <script src="{{rooturl}}_rsc/js_build/app.bundle.js"></script>
{% else %}
  <script src="{{rooturl}}_rsc/js_build/jszip.php"></script>
{% endif %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/@fullcalendar/core@4.3.1/main.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
