body {
  margin: 0;
  padding: 0 0.25rem;
  place-items: center;
  max-width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root {
  margin: 0 auto;
  width: 100%
}

.container, section {
  max-width: 100%;
}

@media only screen and (max-width: 415px) {
  #root {
    max-width: 1280px;
  }

}

@media (prefers-color-scheme: light) {
  :root {

    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
