.filter-type {
  display: 'inline';
  margin: '0';
  width: 1.12em;
  padding: 0;
  text-align: center;
}
.rangeBtn {
  margin: 0 .25em;
}
.margin-rt-1 {
  margin-right: 1em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.search-date-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.search-date-field {
  padding: 0 0.5em;
}
.search-param-description {
  display: flex;
  align-items: center;
  width: 100%;
}

.noshow {
  display: none;
}

@media only screen and (max-width: 900px) {
  #search-title {
    margin-top: 0.5rem;
  }
  section {
    margin: 0 1rem 0.5rem 0.5rem;
  }
}
